.Home {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  &--upperHeader {
    font-size: 27px;
    color: black;
    font-weight: 700;
    margin: 0 auto;
  }
  &--lowerHeader {
    font-size: 45px;
    color: black;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
  }
  &--text {
    font-style: italic;
    font-size: 15px;
    margin: 10px 0;
  }
  &--button {
    margin-top: 5px;
  }
}